{{!-- <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Vagas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            
            
            </ul>
        
        </div>
    </nav>
</div> --}}

<header id="header">
	<nav class="navbar fixed-top navbar-toggleable">
		<div class="container">
			<a href="/" class="navbar-brand">
				Vagas
			</a>
			<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon ion-navicon-round"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="" class="nav-link">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>	
</header>
