<section id="subheader">
    <div class="container">
        <h1>Indexador de vagas</h1>
        <p>Veja as melhores vagas em apenas um site</p>
        <a href="" class="btn btn-lg btn-danger mr-4">
            Ver Vagas
        </a>
        <a href="" class="btn btn-lg btn-info-outline">
            Registra-se
        </a>
    </div>
    
</section>