<section id="subheader">
    <div class="container">
        <h1>Indexador de vagas</h1>
        <p>Veja as melhores vagas em apenas um site</p>
        <a href="" class="btn btn-lg btn-danger mr-4">
            <i class="ion-help-buoy"> Ver Vagas</i> 
        </a>
        <a href="" class="btn btn-lg btn-outline-info c-white">
            <i class="ion-plus-round"> Registra-se</i>
        </a>
    </div>
    
</section>