<section id="subheader">
    <div class="container">
        <h1>Indexador de vagas</h1>
        <p>Veja as melhores vagas em apenas um site</p>
        <a href="" class="btn btn-lg btn-danger mr-4">
            <i class="ion-help-buoy"> Ver Vagas</i> 
        </a>
        <a href="" class="btn btn-lg btn-outline-info c-white">
            <i class="ion-plus-round"> Registra-se</i>
        </a>
    </div>
    
</section>

<section id="content">
    <div class="title">
        <h2>
            Features
        </h2>
        <p>Veja as features presentes em nosso indexador</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="features-box">
                    <i class="ion-pie-graph"></i>
                    <h3>Graficos</h3>
                    <hr>
                    <p>Analise de graficos</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="features-box">
                    <i class="ion-clock"></i>
                    <h3></h3>
                    <hr>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="features-box">
                    <i class="ion-ios-barcode-outline"></i>
                    <h3></h3>
                    <hr>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>